.section.contact-section.bg-pattern
  .section-header.text-center
      h2.section-title <span class="small">Contact Us</span>We Always Here to Help You
  .container
    .section-body
      .row
        .col-sm-6.col-xs-12
          h3.country-city Melbourne, <span class="country">Australia</span>
          p.paragraph
            | 269 King Str, 5th Floor, Utral House Building, <br> Melbourne, VIC 3000, Australia
          p.paragraph
            | <b>Email: </b>info@airestaurant.com
        .col-sm-6.col-xs-12
          .call-us
            p Call directly
            h4.phone-number +99 (0) 344 956 4050
            .service
              h4.service-title Lunch Service
              p.paragraph.service-description Friday, Saturday and Sunday Bookings
              p.paragraph.service-date from 12pm - 1:30pm.
            .service
              h4.service-title Dinner Service
              p.paragraph.service-description Daily Bookings
              p.paragraph.service-date from 6pm - 9:30pm.
    
  .map
    iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6855.076531318431!2d30.9921975!3d30.7875362!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1507410366674", frameborder="0", style="border:0",  allowfullscreen)