.section.main-section
    .bg-overlay
    .container
        .row
            .col-xs-12
                .section-header
                    h1.section-title  
                        span.small Welcome
                        | Prime Beef Steak<br>Restaurant
        .section-info
            .container
                .row
                    .col-sm-6.hidden-xs
                        img.info-img.img-responsive(src="./assets/img/dish.png", alt="dish", draggable="false")
                    .col-sm-6.col-xs-12.info
                        p.small Book a table directly
                        p.phone-number (015) 5555 2089
                        p.meta Opening Hours: <b>MON-FRI</b>(09:00 - 21:00) / <b>Weekend</b>: (09:00 - 22:00)


