.section.news-section.bg-pattern
  .container    
    .section-header.text-center
      h2.section-title <span class="small">Our News</span>Promotions &amp; Events
    .section-body
      .row
        .col-sm-12.col-md-8.no-padding
          .row
            //- --------------- Card Horizontal --------------- 
            .card.event-card.no-padding
              .card-image.no-padding.col-sm-6.col-xs-12
                .ratio-holder
                  .ratio.square-ratio
                  .ratio-content
                    img(src="./assets/img/events/img-1.jpg", alt="image", draggable="false")
              .card-content.text-center.has-arrow.arrow-left.col-sm-6.col-xs-12.no-padding
                .ratio-holder
                    .ratio.square-ratio
                    .ratio-content
                      .vertical-center
                        .vertical-center-content
                          h3.card-title.border-bottom-dashed
                            a(href="#") Beef Sauteed Onions - Let's Enjoy!
                          p.paragraph
                            | 123 Broadway St., NY, United States
                          p.paragraph
                            | 10:00Am - 14:00Pm
                          p.paragraph
                            | Monday, Sep, 25th, 2017
              .clearfix
            //- --------------- Card Horizontal --------------- 
            .card.event-card.no-padding
              
              .card-image.no-padding.col-sm-6.col-xs-12.col-sm-push-6
                .ratio-holder
                  .ratio.square-ratio
                    .ratio-content
                      img(src="./assets/img/events/img-2.jpg", alt="image", draggable="false")

                      
              .card-content.text-center.has-arrow.arrow-right.col-sm-6.col-xs-12.col-sm-pull-6.no-padding
                .ratio-holder
                    .ratio.square-ratio
                    .ratio-content
                      .vertical-center
                        .vertical-center-content
                          h3.card-title.border-bottom-dashed
                            a(href="#") Beef Sauteed Onions - Let's Enjoy!
                          p.paragraph
                            | 123 Broadway St., NY, United States
                          p.paragraph
                            | 10:00Am - 14:00Pm
                          p.paragraph
                            | Monday, Sep, 25th, 2017

              
              .clearfix

        
        .col-sm-12.col-md-4.no-padding
          //- --------------- Card Vertical --------------- 
          .card.event-card.no-padding
            

            .card-image.no-padding.col-md-12.col-sm-6
              .ratio-holder
                .ratio.square-ratio
                  .ratio-content
                    img(src="./assets/img/events/img-3.jpg", alt="image", draggable="false")

            .card-content.text-center.has-arrow.arrow-top.col-md-12.col-sm-6.no-padding
              .ratio-holder
                  .ratio.square-ratio
                  .ratio-content
                    .vertical-center
                      .vertical-center-content
                        h3.card-title.border-bottom-dashed
                          a(href="#") Beef Sauteed Onions - Let's Enjoy!
                        p.paragraph
                          | 123 Broadway St., NY, United States
                        p.paragraph
                          | 10:00Am - 14:00Pm
                        p.paragraph
                          | Monday, Sep, 25th, 2017
            .clearfix 