.section.bg-pattern.menu-section
    .container
        .row
            .col-xs-12
                .section-header
                    h2.section-title.text-center
                        span.small Special Menu
                        |Delicious Flavour Of Autumn
        .section-body.menu-slider
            .slider-container
                .slider.slider-row
                    .slider-banner
                        each img in ['img-1', 'img-2', 'img-3', 'img-1' ,'img-2', 'img-3']
                            .slider-item.col-xxs-12.col-xs-6.col-md-4
                                .card
                                    .card-image.half-price
                                        .ratio-holder
                                            .ratio.menu-ratio
                                            .ratio-content
                                                img(src="./assets/img/"+img+".jpg", alt="image", draggable="false", width="100%")
                                        .price-holder 
                                            span.price $25
                                    .card-content.text-center
                                        h3.card-title 
                                            a(href="#") Super BBQ Grill No Smoke
                                        p.paragraph
                                        | #{img}<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab qui est inventore consequatur asperiores architecto.
                .slider-arrows
                    button.arrow.next <span class="fa fa-angle-right"></span>
                    button.arrow.prev <span class="fa fa-angle-left"></span>


        .text-center
            a(href="#" class="link") View Full Menu
