.section.has-extra-top-padding
    .container
        .row
            .col-sm-6.col-xs-12
                .section-header
                    h2.section-title
                        span.small Our Story
                        |Cooking Is The Art Of Adjustment
                    .section-body
                        p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta odit minus laudantium in similique provident ratione magni? Aliquid accusantium nobis itaque saepe neque officia quam qui magnam velit ad.
                    p.section-meta 
                        strong Thomas Eggsy
                        | - Master Cheff at AI Restaurant
                    a.btn(href="#") Reservation <span class="icon fa fa-angle-right"></span>
            .col-sm-6.col-xs-12
                .video
                    .ratio-holder
                        .ratio.video-ratio
                        .ratio-content
                            .video-controllers
                                button.btn.play-video Play <span class="icon fa fa-play"></span>
                            img(src="./assets/img/videos/video-bg.jpg", alt="Video", draggable="false")