doctype html
head
    include partials/_head.pug
body
    include partials/_header.pug
    include partials/_main-section.pug 
    
    include partials/_section2.pug
    
    include partials/_section3.pug  

    include partials/_section4.pug
    include partials/_section5.pug
    include partials/_section6.pug

    include partials/_contact.pug
    
    include partials/_footer.pug
    include partials/_footer-scripts.pug
